<div class='page'>

  <!-- Header: logo, search bar, small menu -->
  <header class='header region clearfix'>
    <i class='logo component'><a href='/'>NEWS INC</a></i>
    <form class='search-form component'><input class='search-input' type='text' placeholder='Search...' /></form>
    <% include ./navigation %>
  </header>

  <div class='content clearfix'>
    <section class='region features'>
      <h3>Features</h3>
      <ul class='list'>
        <li>
          <figure>
            <a href='http://alistapart.com/article/creating-intrinsic-ratios-for-video' target='_blank'>
              <div class='video-container'>
                <iframe width='250' width='141' src="https://www.youtube.com/embed/cJMwBwFj5nQ?start=3&end=27&rel=0" frameborder="0" allowfullscreen></iframe>
              </div>
              <figcaption>Creating Intrinsic Ratios for Video</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure>
            <a href='#'>
              <img width='250' src='/images/placeholder.png' />
              <figcaption>Lorem ipsum dolor sit amet</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure>
            <a href='#'>
              <img width='250' src='/images/placeholder.png' />
              <figcaption>Lorem ipsum dolor sit amet</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure>
            <a href='#'>
              <img width='250' src='/images/placeholder.png' />
              <figcaption>Lorem ipsum dolor sit amet</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure>
            <a href='#'>
              <img width='250' src='/images/placeholder.png' />
              <figcaption>Lorem ipsum dolor sit amet</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure>
            <a href='#'>
              <img width='250' src='/images/placeholder.png' />
              <figcaption>Lorem ipsum dolor sit amet</figcaption>
            </a>
          </figure>
        </li>
        <li>
          <figure>
            <a href='#'>
              <img width='250' src='/images/placeholder.png' />
              <figcaption>Lorem ipsum dolor sit amet</figcaption>
            </a>
          </figure>
        </li>
      </ul>
    </section>

    <section class='region headlines'>
      <h3>Headlines</h3>
      <ul class='list'>
        <li><a href='http://alistapart.com/article/dao' target='_blank'>A Dao of Web Design</a> <em>2000</em></li>
        <li><a href='http://alistapart.com/article/responsive-web-design' target='_blank'>Responsive Web Design</a> <em>2010</em></li>
        <li><a href='http://implementingresponsivedesign.com/' target='_blank'>Implementing Responsive Design</a> <em>2013</em></li>
        <li><a href='http://alistapart.com/article/dao' target='_blank'>A Dao of Web Design</a> <em>2000</em></li>
        <li><a href='http://alistapart.com/article/responsive-web-design' target='_blank'>Responsive Web Design</a> <em>2010</em></li>
        <li><a href='http://implementingresponsivedesign.com/' target='_blank'>Implementing Responsive Design</a> <em>2013</em></li>
        <li><a href='http://alistapart.com/article/dao' target='_blank'>A Dao of Web Design</a> <em>2000</em></li>
        <li><a href='http://alistapart.com/article/responsive-web-design' target='_blank'>Responsive Web Design</a> <em>2010</em></li>
        <li><a href='http://implementingresponsivedesign.com/' target='_blank'>Implementing Responsive Design</a> <em>2013</em></li>
        <li><a href='http://alistapart.com/article/dao' target='_blank'>A Dao of Web Design</a> <em>2000</em></li>
        <li><a href='http://alistapart.com/article/responsive-web-design' target='_blank'>Responsive Web Design</a> <em>2010</em></li>
        <li><a href='http://implementingresponsivedesign.com/' target='_blank'>Implementing Responsive Design</a> <em>2013</em></li>
        <li><a href='http://alistapart.com/article/dao' target='_blank'>A Dao of Web Design</a> <em>2000</em></li>
        <li><a href='http://alistapart.com/article/responsive-web-design' target='_blank'>Responsive Web Design</a> <em>2010</em></li>
        <li><a href='http://implementingresponsivedesign.com/' target='_blank'>Implementing Responsive Design</a> <em>2013</em></li>
        <li><a href='http://alistapart.com/article/dao' target='_blank'>A Dao of Web Design</a> <em>2000</em></li>
        <li><a href='http://alistapart.com/article/responsive-web-design' target='_blank'>Responsive Web Design</a> <em>2010</em></li>
        <li><a href='http://implementingresponsivedesign.com/' target='_blank'>Implementing Responsive Design</a> <em>2013</em></li>
        <li><a href='http://alistapart.com/article/dao' target='_blank'>A Dao of Web Design</a> <em>2000</em></li>
        <li><a href='http://alistapart.com/article/responsive-web-design' target='_blank'>Responsive Web Design</a> <em>2010</em></li>
        <li><a href='http://implementingresponsivedesign.com/' target='_blank'>Implementing Responsive Design</a> <em>2013</em></li>
      </ul>
    </section>
  </div>

  <!-- menu, legal -->
  <footer class='footer region clearfix'>
    <% include ./navigation %>
    <p>Copyright &copy; 2016</p>
  </footer>

</div>
