<nav class='nav-small component'>
  <ul class='list-horizontal'>
    <li><a href='/slides/01'>Slide One</a></li><!--
    --><li><a href='/slides/02'>Slide Two</a></li><!--
    --><li><a href='/slides/03'>Slide Three</a></li>
  </ul>
</nav>
