<nav class='nav-small component'>
  <ul class='list-horizontal'>
    <li><a href='/slides/01'>Slide 1</a></li><!--
    --><li><a href='/slides/02'>Slide 2</a></li><!--
    --><li><a href='/slides/03'>Slide 3</a></li><!--
    --><li><a href='/slides/04'>Slide 4</a></li><!--
    --><li><a href='/slides/05'>Slide 5</a></li><!--
    --><li><a href='/slides/06'>Slide 6</a></li><!--
    --><li><a href='/slides/07'>Slide 7</a></li>
  </ul>
</nav>
