<% var slide = 0 %>

<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class='index-page'>
      <hgroup>
        <h1>Responsive Design</h1>
        <h3>What's Old is New Again</h3>
        <p>Responsive Web Design (RWD) is no longer a new idea. And yet, in an industry where trends seem to come and go overnight, the principles behind RWD are increasingly relevant. Let’s revisit these principles and look at how RWD is used to help designers and developers deliver a first class product to the user.</p>
        <ul class='list-horizontal'>
          <li><a href='/slides'>Go to Demo</a></li><!--
          --><li><a href='https://github.com/adc-jcaratozzolo/responsive-design' target='_blank'>Get the code!</a></li>
        </ul>
      </hgroup>
      <section>
        <h2>A Brief History</h2>
        <ul>
          <li><strong>2000</strong> - <a href='http://alistapart.com/article/dao' target='_blank'>A Dao of Web Design</a> <em>John Alsopp</em></li>
          <li><strong>2010</strong> - <a href='http://alistapart.com/article/responsive-web-design' target='_blank'>Responsive Web Design</a> <em>Ethan Marcotte</em></li>
          <li><strong>2013</strong> - <a href='http://implementingresponsivedesign.com/' target='_blank'>Implementing Responsive Design</a> <em>Tim Kadlec</em></li>
          <li><strong>2014</strong> - Google adds "mobile-friendly" label to mobile search results</li>
          <li><strong>2016</strong> - Google says 85% of all pages in the mobile search results are now mobile-friendly, removes label</li>
        </ul>
      </section>
    </div>
  </body>
</html>
